

/*- Nullstilling ------------------------------------------------------------------ */
div.clear{
	clear: both;
}

/*- Body -------------------------------------------------------------------------- */
html{
	height: 100%;
}
body {
	background: #1d2531;
	color: #000;
	font: normal 16px 'Open Sans',sans-serif;
	padding: 0;
	margin: 0;
	height: 100%;
	margin: 0;
}


/*- Bilder ----------------------------------------------------------------------- */
img{
	max-width: 100%;
}


/*- Overskrifter ----------------------------------------------------------------- */
h1 {
	font: normal 20px 'Open Sans',sans-serif;
    	color: #292625;
	padding: 0px 0 20px 0px;
	margin: 0px 0px 0px 0px;
}

/*- Paragrafer og span ----------------------------------------------------------- */
p{
	margin: 0;
	font: normal 16px 'Open Sans',sans-serif;
        color: #000;
}
span{
        color: #000;
}


/*- Input ------------------------------------------------------------------------ */
input {  /* Submit button */
	padding: 3px;
	border: 1px solid #BBB;
	font: normal 16px 'Open Sans',sans-serif;
	background-color: #FFF; 
}
textarea { 
	padding: 3px; border: 1px solid #BBB; 
	font: normal 16px 'Open Sans',sans-serif;
	background-color: #FFF; 
}
select  { border: 1px solid #BBB; padding: 2px; }
.checkbox { border: none;}
input.submit { background-color: #8EAF0D;  border: none; color: #FFF; padding: 3px 5px; margin: 0 3px; font-size: 12px; }
button { background-color: #8EAF0D;  border: 1px solid #698208; color: #FFF; padding: 3px 5px; margin: 0 3px; font-size: 12px; }
.radio {border: 0; margin: 0 3px -3px 0; background: transparent; }
label { width: 150px; height: 20px; float: left;}
.bredlabel { width: 550px; height: 20px; margin: 0 5px 0 0; float: none;}

.inp_email_registration{ display: none; }

@media screen and (max-width: 52.375em) {
	input.textarea,.uneditable-input{
		width: 206px; 
	}
}








/*- Linker ------------------------------------------------------------------ */
a {
	color: #44a8ec;
	font: normal 16px 'Open Sans',sans-serif;
	text-decoration: none;
}
a:hover {
	color: #48b0f7;
	text-decoration: none;
}


/*- Wrapper ------------------------------------------------------------------ */
#wrapper {
	margin: 0;
	padding: 0;
	/*background: url('images/bg/04.jpg') no-repeat center center fixed; */
	background-size: cover;
	height: 100%;
}
#content { 
	width: 1000px; 
	margin: 0px auto; 
	padding: 20px 0px 20px 0px;
}


/*- Header ---------------------------------------------------------------- */
header{
	width: 100%;
	background: #263544;
	border-radius: 5px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;

	padding: 20px 30px 20px 30px;
}
header p{
	color: #fff;
	font: bold 20px 'Open Sans',sans-serif;
	padding: 0;
	margin: 0;
}
header a:hover{
	color: #fff;
}
header span{
	color: #fff;
	font: bold 12px 'Open Sans',sans-serif;
	vertical-align: super;
	margin-top: 10px;
}

@media screen and (max-width: 52.375em) {
	header{
		width: 70%;
	}
}

/*- Main --------------------------------------------------------------- */
#main{
	width: 100%;
	background: #fff; 
	padding: 20px 30px 20px 30px;
	border-top: #000 1px solid;
	border-bottom: #e5e5e5 1px solid;
}
@media screen and (max-width: 52.375em) {
	#main{
		width: 70%;
	}
}



/*- Footer ------------------------------------------------------------------------ */
footer{
	width: 100%;
	background: #f2f0f0;
	border-radius: 5px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	padding: 5px 30px 5px 30px;
	text-align: right;
}
@media screen and (max-width: 52.375em) {
	footer{
		width: 70%;
	}
}
