th.current_sub_category_calories_med, td.current_sub_category_calories_med,
th.current_sub_category_calories_diff, td.current_sub_category_calories_diff,
p.protein_diff {
	display: none;
}



/*- View food show age restrictions waring ---------------------------------------------- */
div.view_food_select_country_row{
	display: flex;
}

div.view_food_select_country_col{
	flex: 1;
	padding: 1px 0px 1px 0px;
}

@media screen and (max-width: 52.375em) {
	div.view_food_select_country_row{
		display: inline-block;
	}
	div.view_food_select_country_col{
		flex: 0;
	}
}